<!-- Footer Part Start -->
<footer class="footer-part footer-bg-dark">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <!-- Single widget-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a asp-controller="Home" asp-action="Index"><img src="https://themeim.com/demo/imgra/images/logo-footer.png" alt=""></a>
                        <p>Lorem Ipsum is simply dumy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <ol class="flat-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ol>
                    </div>
                </div>
                <!-- Single widget-->
                <div class="col-12 col-sm-6 col-lg-3 mt-4 mt-sm-0">
                    <div class="footer-widget-item">
                        <h3>Service Areas</h3>
                        <ul class="footer-widget-link">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Media Offences</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Finance & Banking</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Intellectual Property</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Merger & Acquisition</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Real Estate Constuction</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single widget-->
                <div class="col-12 col-sm-6 col-lg-3 mt-4 mt-lg-0">
                    <div class="footer-widget-item">
                        <h3>Open Time</h3>
                        <ul class="footer-widget-office-time">
                            <li>
                                <p>Opening Day:</p>
                                <p>Monday - Friday: 9am to 7pm</p>
                                <p>Saturday: 8am to 6pm</p>
                            </li>
                            <li>
                                <p>Vacation:</p>
                                <p>All Sunday Day</p>
                                <p>All Vacation Holiday</p>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
            <!-- Footer contact info -->
            <div class="row footer-icon-area">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="sin-footer-icon">
                        <div class="footer-icon">
                            <a href="#"><i class="fa fa-phone"></i></a>
                        </div>
                        <div class="footer-icon-text">
                            <h4>Связь</h4>
                            <span>158-659-8546</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="sin-footer-icon">
                        <div class="footer-icon">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div>
                        <div class="footer-icon-text">
                            <h4>Почта</h4>
                            <span>info@mail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4  col-sm-4">
                    <div class="sin-footer-icon">
                        <div class="footer-icon">
                            <a href="#"><i class="fa fa-home"></i></a>
                        </div>
                        <div class="footer-icon-text">
                            <h4>Адрес</h4>
                            <span>Старосадский пер., 9 строение 3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Part End -->

<div class="backtotop">
    <i class="fa fa-angle-up backtotop_btn"></i>
</div>