<!-- BreadCrumb Part Start -->
<section class="breadcrumb-part">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-title">
                    <h1>О нас</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumb-link">
            <ul class="flat-list">
                <li><a>Главная страница</a></li>
                <li><a >О нас</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- BreadCrumb Part End -->
<!-- About-4 Part Start -->
<div class="about-tab section-p">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-head-3-1">
                    <h2>Imgra<span> – это больше, чем компания</span></h2>
                    <p>это сообщество профессионалов, готовых воплощать в жизнь ваши амбициозные планы. Мы гордимся быть вашими партнерами, и с нетерпением ожидаем продолжения нашего с вами успешного пути.</p>
                </div>
            </div>
        </div>
        <div class="row about-tab-inner ">
            <div class="col-lg-2 col-xl-2">
                <div class="about-tab-button">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="flaticon-heart-broken-in-half"></i><p>Ценности</p></a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="flaticon-loan"></i><p>Качество</p></a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="flaticon-family"></i><p>Принципы</p></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10 col-xl-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active inner-ab-tab" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-md-6 col-lg-7 col-xl-7 pl-0">
                                <div class="ab-tab-l">
                                    <h3>Наши Ценности: </h3>
                                    <ul>
                                        <li><p>Надежность: Мы строим наши отношения на взаимном доверии. Надежность – это не просто обещание, но и наша гарантия, что каждая посылка будет доставлена вовремя и в безупречном состоянии.</p></li>
                                        <li><p>Инновации: Imgra внедряет передовые технологии в сфере логистики. Мы верим, что инновации - ключ к оптимизации процессов и удовлетворению потребностей наших клиентов.</p></li>
                                        <li><p>Глобальная Поддержка: С нашей глобальной сетью мы обеспечиваем полное покрытие мировых рынков. Imgra создает мосты между странами и континентами, обеспечивая ваш бизнес глобальной связностью.</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-5 pl-0">
                                <div class="about-tab-img">
                                    <img src="https://themeim.com/demo/imgra/images/ab1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade inner-ab-tab" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-lg-7 col-xl-7 pl-0">
                                <div class="ab-tab-l">
                                    <h3>Наш Подход к Качеству</h3>
                                    <ul>
                                        <li><p>Профессионализм и Компетентность: Мы гордимся нашей высококвалифицированной командой, состоящей из экспертов в области логистики. Профессионализм и компетентность наших сотрудников - залог успешного выполнения каждой задачи и обеспечения высокого уровня обслуживания.</p></li>
                                        <li><p>Этика и Честность: Наш бизнес строится на принципах этики и честности. Мы придерживаемся высоких стандартов корпоративной ответственности, предоставляя нашим клиентам честные и прозрачные условия сотрудничества.</p></li>
                                        <li><p>Фокус на Клиента: В Imgra мы ставим клиента в центр наших операций. Наша команда стремится понять уникальные потребности каждого клиента и предоставить индивидуальные решения, направленные на максимальное удовлетворение их логистических требований.</p></li>
                                        <li><p>Стратегическое Планирование: Мы придерживаемся стратегического подхода в нашей работе. Спланированные и организованные процессы обеспечивают нам возможность эффективно реагировать на изменения в рыночных условиях и поддерживать высокий уровень сервиса.</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5 pl-0">
                                <div class="about-tab-img">
                                    <img src="https://themeim.com/demo/imgra/images/ab2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade inner-ab-tab" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            <div class="col-lg-7 col-xl-7 pl-0">
                                <div class="ab-tab-l">
                                    <h3>Наши Принципы</h3>
                                    <ul>
                                        <li>
                                            <p>
                                                Профессионализм и Экспертность:
                                                В Imgra мы ценим высокий стандарт профессионализма и экспертности в наших областях деятельности. Наши сотрудники – это не только специалисты, но и страстные профессионалы, готовые делиться своими знаниями и опытом для достижения общих целей.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Устойчивость и Экологическая Ответственность:
                                                Imgra стремится к устойчивости и экологической ответственности. Мы разрабатываем и внедряем экологически эффективные практики, чтобы уменьшить наш экологический след и содействовать устойчивому будущему.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Клиентоориентированный Подход:
                                                Все наши усилия направлены на удовлетворение потребностей клиентов. Мы слушаем вас, понимаем ваши ожидания и предлагаем гибкие решения, чтобы соответствовать вашим уникальным требованиям.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Транспарентность и Честность:
                                                Imgra придерживается прозрачности и честности во всех видах взаимодействия. Мы строим открытые отношения с клиентами, партнерами и сотрудниками, делясь информацией и поддерживая взаимопонимание.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5 pl-0">
                                <div class="about-tab-img">
                                    <img src="https://themeim.com/demo/imgra/images/ab3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-4 Part End -->
<!-- Team Part Start -->
<section class="team-2-part section-p">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-head">
                    <h2>Наши консультанты</h2>
                    <p>Ваша удовлетворенность - наш главный приоритет. Мы стремимся не только предоставлять выдающиеся логистические услуги, но и обеспечивать вас личным и профессиональным вниманием.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Team-->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-1.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Марина</h2>
                            <div class="team-member-des">
                                <p>Эксперт по Международным Перевозкам</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team-->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-2.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Александр</h2>
                            <div class="team-member-des">
                                <p>Технологический Консультант</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team-->
            <div class="col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-0">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-3.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Игорь</h2>
                            <div class="team-member-des">
                                <p>Личный Логистический Помощник</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Part End -->





<!-- Testimonial-3 Part Start -->
<section class="testimonial-3-part section-p-2">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-head-3-1">
                    <h2 class="white"><span>Отзывы о компании Imgra</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="swiper-container testimonial-3-slider" data-swiper-config='{"loop": true, "effect": "slide", "speed": 2000, "autoplay": 5000,"slidesPerView": 1,"paginationClickable": true}'>
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide testimonial-3-item">
                            <div class="person-3-comment">
                                <i class="fa fa-quote-left"></i>
                                <h3>"Работая с Imgra под руководством Алексея Петрова, мы получили не только эффективные логистические решения, но и технологический подход к оптимизации наших поставок. Их техническая команда всегда на шаг впереди, предоставляя инновационные решения, которые существенно улучшили наши процессы."</h3>
                            </div>
                            <div class="person-3-detail">
                                <h2>Иванова Анна</h2>
                                <p>ООО "Глобал Трейдинг"</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-3-item">
                            <div class="person-3-comment">
                                <i class="fa fa-quote-left"></i>
                                <h3>"Imgra, под руководством Анны Михайловой, оказалась ключевым игроком в нашем международном сотрудничестве. Анна не только мастерски управляет отношениями с нашими партнерами по всему миру, но также обеспечивает гармоничную интеграцию наших логистических потребностей. С Imgra, границы становятся мостами."</h3>
                            </div>
                            <div class="person-3-detail">
                                <h2>Сидоров Игорь</h2>
                                <p>ООО "ТехноБизнес"</p>
                            </div>
                        </div>
                        <div class="swiper-slide testimonial-3-item">
                            <div class="person-3-comment">
                                <i class="fa fa-quote-left"></i>
                                <h3>
                                    "Мы сотрудничаем с Imgra уже несколько лет, и они всегда демонстрируют высокий уровень надежности и профессионализма. Их команда, включая Дмитрия Соколова, всегда готова поддержать нас в сложных логистических задачах. Imgra - настоящий партнер в доставке, и мы ценим их преданность качественному обслуживанию."
                                </h3>
                            </div>
                            <div class="person-3-detail">
                                <h2>Петров Денис</h2>
                                <p>ЗАО "Глобальные Трейдеры"</p>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial-3 Part End -->

