<!-- BreadCrumb Part Start -->
<section class="breadcrumb-part">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-title">
                    <h1>Контакты</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumb-link">
            <ul class="flat-list">
                <li><a>Главная страница</a></li>
                <li><a>Контакты</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- BreadCrumb Part End -->
<!-- Contact-info area Start -->
<section class="contact-info">
    <div class="container-fluid no-pad">
        <div class="contact-info-inner">
            <div class="row no-gutters">
                <div class="col-md-4">

                    <div class="email-info sin-cont-info d-flex align-items-center">
                        <div class="center-wrap">
                            <i class="flaticon-at"></i>
                            <h3>Почта</h3>
                            <p>Mail:<a href="mailto:name@email.com"> info@mail.com</a></p>
                            <a href="mailto:name@email.com"> info@mail.com</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="office-location sin-cont-info d-flex align-items-center">
                        <div class="center-wrap">
                            <i class="flaticon-map-pin-marked"></i>
                            <h3>Офис</h3>
                            <p>Адрес: Старосадский пер., 9 строение 3</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="call-us sin-cont-info d-flex align-items-center">
                        <div class="center-wrap">
                            <i class="flaticon-telephone-of-old-design"></i>
                            <h3>Связь</h3>
                            <p>Телефон: <a href="tel:158-659-8546"> 158-659-8546</a></p>
                            <a href="tel:158-659-8546"> 158-659-8546</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Contact-info area End -->