<!-- Banner Part Start -->
<section class="banner-part">
    <div class="swiper-container banner-slider home-one" data-swiper-config='{"loop": true, "effect": "fade", "speed": 800, "autoplay": 5000, "paginationClickable": true }'>
        <div class="swiper-wrapper">
            <div class="swiper-slide banner-item" data-bg-image="https://themeim.com/demo/imgra/images/bg/slider-1.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-12 banner-caption">
                            <h2 class="brand-color animated" data-animate="fadeInUp">Доставляем уверенность</h2>
                            <h1 data-animate="fadeInUp">в каждой посылке</h1>
                            <div class="banner-line"></div>
                            <p data-animate="fadeInUp">Приветствуем вас в Imgra – вашем надежном партнере в мире логистики. Мы не просто доставляем грузы – мы создаем мосты между возможностями и реальностью.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide banner-item" data-bg-image="https://themeim.com/demo/imgra/images/bg/2.jpg">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-12 banner-caption">
                            <h2 class="brand-color" data-animate="fadeInUp">Imgra</h2>
                            <h1 data-animate="fadeInUp">Где Скорость Встречает Надежность</h1>
                            <p data-animate="fadeInUp">Наши операции оптимизированы для максимальной эффективности. Сочетание высокоскоростных доставок и надежной защиты грузов – вот то, что делает Imgra лучшим выбором для вашего бизнеса.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- Banner Part End -->
<!-- Practise Part Start -->
<section class="practise-part section-p">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-head">
                    <h2>Почему Именно Мы?</h2>
                    <p>Imgra - это коллектив экспертов в области логистики с многолетним опытом. Наши специалисты обладают глубокими знаниями в области грузоперевозок, таможенного оформления и оптимизации цепочек поставок.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-student"></i></div>
                    <h2><a href="#">Индивидуальный Подход</a></h2>
                    <p>Мы понимаем, что каждый клиент уникален, и предлагаем индивидуальные решения для каждого бизнеса. Наша команда работает тесно с заказчиками, чтобы понять их потребности и предоставить наилучшие логистические решения.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-parents"></i></div>
                    <h2><a>Надежность и Безопасность</a></h2>
                    <p>Imgra гарантирует надежность и безопасность каждого груза. Мы строго следим за каждым этапом доставки, предоставляя клиентам полную прозрачность и уверенность в сохранности и своевременной поставке.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-consultant"></i></div>
                    <h2><a> Глобальное Покрытие</a></h2>
                    <p>Наша логистическая сеть охватывает мировые рынки, что позволяет нам обеспечивать глобальные грузоперевозки. Imgra делает мир ближе, связывая бизнесы в разных уголках планеты.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-passport"></i></div>
                    <h2><a>Инновации в Технологиях</a></h2>
                    <p>Мы внедряем передовые технологии для оптимизации процессов логистики. От онлайн-отслеживания до управления запасами - Imgra предоставляет клиентам доступ к современным инструментам для улучшения управления своими поставками.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-loan-1"></i></div>
                    <h2><a>Партнерство в Развитии</a></h2>
                    <p>Imgra не просто предоставляет услуги логистики, но и стремится стать вашим долгосрочным партнером в развитии бизнеса. Мы поддерживаем ваши цели и растем вместе с вами, адаптируясь к изменяющимся потребностям рынка.</p>
                </div>
            </div>
            <!-- Single Practice -->
            <div class="col-sm-6 col-lg-4">
                <div class="practise-item">
                    <div class="icon-box"><i class="flaticon-monitor"></i></div>
                    <h2>
                        <a>
                            Эффективность и Экономия
                        </a>
                    </h2>
                    <p>Imgra заботится о вашем бизнесе, предлагая эффективные логистические решения, направленные на оптимизацию затрат и повышение производительности.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Practise Part End -->
<!-- About us  Part Start -->
<section class="about_us section-p bg_dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <h2>Кто Мы?</h2>
                <h6>Imgra - это не просто логистическая компания, а команда преданных профессионалов, готовых преодолевать границы и создавать мосты для вашего бизнеса.</h6>
                <p>Наша команда состоит из опытных и энергичных специалистов в области логистики. Мы гордимся тем, что собрали вокруг себя талантливых людей, готовых взять на себя вызовы любой сложности. Imgra является лидером в интеграции инновационных технологий в логистические процессы. Мы постоянно стремимся к развитию и внедрению передовых решений, чтобы ваш бизнес оставался на переднем крае конкуренции.</p>


            </div>
        </div>
    </div>

</section>

<!-- About us  Part End -->

<!-- Testiminial Part Start -->
<section class="testimonial-part section-p">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 mb-5 mb-lg-0">
                <div class="testimonial-box">
                    <div class="section-head-2">
                        <h2><span>Отзывы</span></h2>
                        <p>Мы гордимся тем, что являемся вашими надежными партнерами в мире логистики. Ваш успех - это наша главная цель, и мы стремимся к постоянному улучшению наших услуг</p>
                    </div>
                    <div class="swiper-container testimonial-slider" data-swiper-config='{"loop": true, "effect": "slide", "speed": 800, "autoplay": 5000, "paginationClickable": true, "spaceBetween": 25 }'>
                        <div class="swiper-wrapper">
                            <!-- Single Testimonial -->
                            <div class="swiper-slide testimonial-item">
                                <div class="row">
                                    <div class="col-8 offset-2 col-sm-5 col-xl-4 offset-sm-0 mb-3 mb-sm-0">
                                        <div class="person-detail">
                                            <div class="person-img">
                                                <img src="https://themeim.com/demo/imgra/images/testimonial-1.jpg" alt="Image">
                                            </div>
                                            <h3>Иванов Алексей</h3>
                                            <p>Генеральный директор, XYZ Company</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-xl-8">
                                        <div class="person-comment">
                                            <h4>"Imgra - Это Доверие!"</h4>
                                            <ul class="flat-list star">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                            <div class="mains-comment">
                                                <p><i class="fa fa-quote-left"></i> "Наша компания сотрудничает с Imgra уже несколько лет, и за это время они не раз доказали свою надежность и профессионализм. Экипаж Imgra всегда оперативно реагирует на наши запросы, обеспечивая своевременные поставки и поддерживая нас в решении логистических задач. Отличная работа, Imgra - это доверие, на котором можно полагаться."<i class="fa fa-quote-right"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="swiper-slide testimonial-item">
                                <div class="row">
                                    <div class="col-8 offset-2 col-sm-5 col-xl-4 offset-sm-0 mb-3 mb-sm-0">
                                        <div class="person-detail">
                                            <div class="person-img">
                                                <img src="https://themeim.com/demo/imgra/images/testimonial-2.jpg" alt="Image">
                                            </div>
                                            <h3>Петров Дмитрий</h3>
                                            <p>Логистический менеджер, ABC Corporation</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-xl-8">
                                        <div class="person-comment">
                                            <h4>"Эффективность в Деталях"</h4>
                                            <ul class="flat-list star">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                            <div class="mains-comment">
                                                <p><i class="fa fa-quote-left"></i>"Imgra внедряет передовые технологии, которые позволяют нам отслеживать грузы в режиме реального времени. Эта эффективность в деталях дает нам контроль над нашими поставками и уверенность в сохранности товаров. Мы ценим их технологический подход и высокий стандарт обслуживания."<i class="fa fa-quote-right"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="swiper-slide testimonial-item">
                                <div class="row">
                                    <div class="col-8 offset-2 col-sm-5 col-xl-4 offset-sm-0 mb-3 mb-sm-0">
                                        <div class="person-detail">
                                            <div class="person-img">
                                                <img src="https://themeim.com/demo/imgra/images/testimonial-3.jpg" alt="Image">
                                            </div>
                                            <h3>Козлов Николай</h3>
                                            <p>Вице-президент по маркетингу, PQR Industries</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-xl-8">
                                        <div class="person-comment">
                                            <h4>"Превосходство в Международных Перевозках"</h4>
                                            <ul class="flat-list star">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-half-o"></i></li>
                                            </ul>
                                            <div class="mains-comment">
                                                <p><i class="fa fa-quote-left"></i>"Imgra справляется с международными перевозками на высшем уровне. Мы работали с различными логистическими компаниями, и Imgra выделяется своими оперативностью и точностью в выполнении заказов. Они действительно превосходят в обеспечении международных поставок."<i class="fa fa-quote-right"></i> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-5 col-lg-6 offset-xl-1">
                <div class="skill-contact-form">
                    <div class="section-head-2">
                        <h2>Experience <span>In Consultancy</span></h2>
                        <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unknown printa galley.</p>
                    </div>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-12">
                                <label>Free Consultation</label>
                            </div>
                            <div class="col-12 col-lg-12">
                                <input class="form-control" type="text" placeholder="Name*" required>
                            </div>
                            <div class="col-12 col-lg-12">
                                <input class="form-control" type="email" placeholder="Email*" required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn-1">SEND US</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testiminial Part End -->
<!-- Team Part Start -->
<section class="team-part section-p">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-head">
                    <h2>Наши консультанты</h2>
                    <p>Ваша удовлетворенность - наш главный приоритет. Мы стремимся не только предоставлять выдающиеся логистические услуги, но и обеспечивать вас личным и профессиональным вниманием.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Team-->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-1.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Марина</h2>
                            <div class="team-member-des">
                                <p>Эксперт по Международным Перевозкам</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team-->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-2.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Александр</h2>
                            <div class="team-member-des">
                                <p>Технологический Консультант</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team-->
            <div class="col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-0">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://themeim.com/demo/imgra/images/team-3.jpg" alt="">
                        <div class="team-member-name">
                            <h2>Игорь</h2>
                            <div class="team-member-des">
                                <p>Личный Логистический Помощник</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Part End -->
<!-- Twiter Feed  Part End -->